{% extends "main.html" %}

<!-- Content block -->
{% block content %}

  <div style="text-align: center;">
    <h1><strong>404</strong></h1>
    <h1><small>Uh oh, you found a ... something.</small></h1>
  </div>

  <div>But it's probably not what you were looking for, sorry...</div> <p/>
  <div>You're on this page because you tried to access a URL that doesn't exist
      or a page that's moved elsewhere. Now, if you really want, you can try to
      use the "Search" box above to find some more useful things. But you don't
      have to, your call.</div>

{% endblock %}
