{% extends "base.html" %}

{% block announce %}
  <a href="https://news.sherlock.stanford.edu" target="_blank" rel="noopener noreferrer">
    For updates, subscribe to <span class="twemoji icon sh">
      {% include ".icons/srcc/sherlock.svg" %}
    </span>
    <strong>Sherlock news</strong>
  </a>
{% endblock %}

{% set extracopyright %}
    {% if config.extra.made_in %}
        Made with
        <span class="twemoji pulsate">
            {% include ".icons/material/heart.svg" %}
        </span> in
        <span class="md-footer-copyright__highlight">
            {{ config.extra.made_in }}
        </span>
    {% endif %}
    {% if config.extra.consent %}
        {% if config.extra.made_in %}
        <span style="padding:0 0.8em;"> | </span>
        {% endif %}
        <a class="consent" href="#__consent">Change cookie settings</a>
    {% endif %}
{% endset %}
