{% extends "base.html" %}

{% block announce %}
  <a href="https://news.sherlock.stanford.edu">
    For updates, see <span class="twemoji icon sh">
      {% include ".icons/srcc/sherlock.svg" %}
    </span>
    <strong>Sherlock news</strong>
  </a>
{% endblock %}

{% set extracopyright %}
	{% if config.extra.made_in %}
        Made with
        <span class="twemoji pulsate">
            {% include ".icons/material/heart.svg" %}
        </span> in
        <span class="md-footer-copyright__highlight">
            {{ config.extra.made_in }}
        </span>
	{% endif %}
{% endset %}
