# vim: set ts=2 sw=2 sts=2 expandtab:
# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Site information
site_name:        Sherlock
site_description: User documentation for Sherlock, Stanford's HPC cluster.
site_author:      Kilian Cavalotti
site_url:         https://www.sherlock.stanford.edu/

# Repository
repo_name: SRCC // Open Source
repo_url:  https://github.com/stanford-rc
edit_uri:  www.sherlock.stanford.edu/edit/main/src/

# Copyright
copyright: >-
  Copyright &copy; 2014 - 2022 &mdash;
  <a href='mailto:srcc-support@stanford.edu'>Stanford Research Computing Center</a><br/>

# Configuration
docs_dir: src
site_dir: site

theme:

  name: material
  custom_dir: overrides

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  language: en

  features:
    - announce.dismiss
    - content.code.annotate
    - navigation.indexes
   #- navigation.instant # instant loading doesn't work well with our landing page
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest

  font:
    text: Roboto
    code: Roboto Mono

  favicon:    assets/images/logo_small.png
  logo:       assets/images/logo_small.png
  logo_hero:  assets/images/logo.png
  banner:     assets/images/banner.png

  icon:
    logo: srcc/mono/sherlock
    repo: fontawesome/brands/github
    admonition:
      note:     octicons/note-16
      abstract: octicons/checklist-16
      info:     octicons/info-16
      tip:      octicons/light-bulb-16
      success:  octicons/check-16
      question: octicons/question-16
      warning:  octicons/alert-16
      failure:  octicons/x-circle-16
      danger:   octicons/zap-16
      bug:      octicons/bug-16
      example:  octicons/beaker-16
      quote:    octicons/quote-16
      # custom
      sherlock: srcc/mono/sherlock

# Customization
extra_css:
  - /assets/stylesheets/sh.css

extra:

  analytics:
    provider: google
    property: !!python/object/apply:os.getenv ["GOOGLE_ANALYTICS_KEY"]
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/stanford-rc/www.sherlock.stanford.edu/issues/new/?title=[Feedback]+{title}+-+{url}&labels=feedback"
                         target=_blank>feedback form</a>.

  consent:
    title: Cookie consent
    description: >
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

  generator: false

  social:
    - icon: fontawesome/solid/earth-americas
      link: https://srcc.stanford.edu
      name: SRCC website
    - icon: fontawesome/brands/github
      link: https://github.com/stanford-rc
      name: SRCC on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/StanfordCompute
      name: SRCC on Twitter
    - icon: fontawesome/brands/slack
      link: https://srcc.slack.com/
      name: SRCC Users Slack workspace

  # custom
  made_in: >-
    <a href='https://www.google.com/maps/place/Stanford,+CA'>Stanford, California</a>
  support_email: srcc-support@stanford.edu
  purge_days: 90


# Plugins
plugins:

  - search:
      separator: "[\\s\\-,:!=\\[\\]()\"/]+|\\.(?!\\d)|&[lg]t;|(?!\\b)(?=[A-Z][a-z])"

  - social:
      cards_color: # https://github.com/squidfunk/mkdocs-material/issues/3159
        fill: "#8C1515"
        text: "#FFFFFF"

  - minify:
      minify_html: true
      minify_js: true

  - macros:
      on_error_fail: true
      include_yaml:
        - includes/data/software.yml
        - includes/data/facts.yml

  - redirects:
      redirect_maps:
        # external URLs
        ondemand.md:                     https://login.sherlock.stanford.edu/
        shell.md:                        https://login.sherlock.stanford.edu/pun/sys/shell/ssh
        catalog.md:                      https://docs.google.com/spreadsheets/d/11CqpWe0XLoEbJEDAac6ag5nbrctkkZSJgRtG4hKh34w
        order.md:                        https://docs.google.com/forms/d/e/1FAIpQLSd95TJaPbStWEZAUYHXNQedp9lQJMsTjyISjKmRMSpmL0rVqg/viewform
        # nav refactor, legacy URLs
        docs/overview/index.md:          docs/index.md
        docs/overview/introduction.md:   docs/index.md
        docs/overview/concepts.md:       docs/concepts.md
        docs/overview/orders.md:         docs/orders.md
        docs/overview/orders/process.md: docs/orders.md
        docs/overview/tech/index.md:     docs/tech/index.md
        docs/overview/tech/specs.md:     docs/tech/index.md
        docs/overview/tech/facts.md:     docs/tech/facts.md
        docs/overview/tech/status.md:    docs/tech/status.md
        docs/overview/tech/glossary.md:  docs/glossary.md
        docs/overview/about.md:          docs/credits.md
        docs/getting-started/prerequisites.md: docs/getting-started/index.md
        docs/storage/overview.md:        docs/storage/index.md
        docs/software/overview.md:       docs/software/index.md
        docs/software/containers.md:     docs/software/using/singularity.md

  - tags:
      tags_file: docs/tags.md

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: "#"
      toc_depth: 4

  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shortener: true
      provider: github
      user: stanford-rc
      repo: sherlock
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.escapeall:
      hardbreak: true
      nbsp:      true


#
# Page tree
#

nav:
  - Home:
      - docs/index.md
      - Concepts:            docs/concepts.md
      - Glossary:            docs/glossary.md
      - Ordering nodes:      docs/orders.md
      - Tech specs:
          - docs/tech/index.md
          - Facts:           docs/tech/facts.md
          - Status:          docs/tech/status.md
      - Credits:             docs/credits.md
  - Getting Started:
      - docs/getting-started/index.md
      - Connecting:          docs/getting-started/connecting.md
      - Submitting jobs:     docs/getting-started/submitting.md
  - User guide:
      - Running jobs:        docs/user-guide/running-jobs.md
      - OnDemand:            docs/user-guide/ondemand.md
      - Specialized resources:
          - GPU nodes:       docs/user-guide/gpu.md
      - Troubleshooting:     docs/user-guide/troubleshoot.md
  - Storage:
      - docs/storage/index.md
      - Filesystems:         docs/storage/filesystems.md
      - Data sharing:        docs/storage/data-sharing.md
      - Data protection:     docs/storage/data-protection.md
      - Data transfer:       docs/storage/data-transfer.md
  - Software:
      - docs/software/index.md
      - Modules:             docs/software/modules.md
      - List:                docs/software/list.md
      - Installation:        docs/software/install.md
      - Containers:
        - Singularity:       docs/software/using/singularity.md
      - Tools:
          - ClusterShell:    docs/software/using/clustershell.md
      - Usage:
          - R:               docs/software/using/R.md
          - Julia:           docs/software/using/julia.md
          - Python:          docs/software/using/python.md
          - Anaconda:        docs/software/using/anaconda.md
          - Perl:            docs/software/using/perl.md
          - Matlab:          docs/software/using/matlab.md
          - Rclone:          docs/software/using/rclone.md
          - Spark:           docs/software/using/spark.md
          - MariaDB:         docs/software/using/mariadb.md
          - PostgreSQL:      docs/software/using/postgresql.md
          - Quantum Espresso: docs/software/using/quantum-espresso.md
  - Advanced topics:
      - Connection options:  docs/advanced-topics/connection.md
      - Job management:      docs/advanced-topics/job-management.md
