# vim: set ts=2 sw=2 sts=2 expandtab:

# Site information
site_name:        Sherlock
site_description: Sherlock Cluster documentation
site_author:      Kilian Cavalotti
site_url:         https://www.sherlock.stanford.edu/

# Repository
repo_name: SRCC // Open Source
repo_url:  https://github.com/stanford-rc
edit_uri:  www.sherlock.stanford.edu/edit/main/src/

# Copyright
copyright: >-
  Copyright &copy; 2014 - 2020 &mdash;
  <a href='mailto:srcc-support@stanford.edu'>Stanford Research Computing Center</a>

# Google Analytics
google_analytics:
  - !!python/object/apply:os.getenv ["GOOGLE_ANALYTICS_KEY"]
  - auto

# Configuration
docs_dir: src
site_dir: site
theme:
  name: material
  custom_dir: overrides

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  language: en
  features:
    - navigation.instant
  font:
    text: Roboto
    code: Roboto Mono
  favicon: /assets/img/logo_small.png
  logo:    /assets/img/logo_small.png
  logo_hero: /assets/img/logo.png
  icon:
    repo: fontawesome/brands/github

# Customization
extra_css:
  - /assets/css/sh.css

extra:
  made_in: >-
    <a href='https://www.google.com/maps/place/Stanford,+CA'>Stanford, California</a>
  support_email: srcc-support@stanford.edu
  manifest: manifest.webmanifest
  social:
    - icon: fontawesome/solid/globe-americas
      link: https://srcc.stanford.edu
      name: SRCC website
    - icon: fontawesome/brands/github
      link: https://github.com/stanford-rc
      name: SRCC on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/StanfordCompute
      name: SRCC on Twitter
    - icon: fontawesome/brands/slack
      link: https://srcc.slack.com/
      name: SRCC Users Slack workspace

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.abbr
  - markdown.extensions.toc:
      permalink: "#"
      toc_depth: 4
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shortener: true
      provider: github
      user: stanford-rc
      repo: sherlock
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.escapeall:
      hardbreak: true
      nbsp:      true

# Plugins
plugins:
  - search:
      separator: '[\s\-\.]+'
  - minify:
      minify_html: true
      minify_js: true
  - macros:
      include_yaml:
        - includes/data/software.yml
        - includes/data/facts.yml
  - redirects:
      redirect_maps:
        ondemand.md:                     https://login.sherlock.stanford.edu/
        shell.md:                        https://login.sherlock.stanford.edu/pun/sys/shell/ssh
        docs/index.md:                   docs/overview/introduction.md
        docs/overview/index.md:          docs/overview/introduction.md
        docs/overview/orders/process.md: docs/overview/orders.md
        catalog.md:                      https://docs.google.com/spreadsheets/d/11CqpWe0XLoEbJEDAac6ag5nbrctkkZSJgRtG4hKh34w
        docs/overview/orders/catalog.md: https://docs.google.com/spreadsheets/d/11CqpWe0XLoEbJEDAac6ag5nbrctkkZSJgRtG4hKh34w
        order.md:                        https://docs.google.com/forms/d/e/1FAIpQLSd95TJaPbStWEZAUYHXNQedp9lQJMsTjyISjKmRMSpmL0rVqg/viewform
        order_form.md:                   https://docs.google.com/forms/d/e/1FAIpQLSd95TJaPbStWEZAUYHXNQedp9lQJMsTjyISjKmRMSpmL0rVqg/viewform
        docs/overview/orders/form.md:    https://docs.google.com/forms/d/e/1FAIpQLSd95TJaPbStWEZAUYHXNQedp9lQJMsTjyISjKmRMSpmL0rVqg/viewform
        docs/overview/tech/index.md:     docs/overview/tech/specs.md
        docs/getting-started/index.md:   docs/getting-started/prerequisites.md
        docs/user-guide/index.md:        docs/user-guide/running-jobs.md
        docs/storage/index.md:           docs/storage/overview.md
        docs/software/index.md:          docs/software/overview.md
        docs/software/containers.md:     docs/software/using/singularity.md
        docs/advanced-topics/index.md:   docs/advanced-topics/connection.md


#
# Page tree
#

nav:
  - Overview:
    - Introduction:      docs/overview/introduction.md
    - Concepts:          docs/overview/concepts.md
    - Ordering nodes:
      - Process:         docs/overview/orders.md
      - Catalog:         /catalog/
      - Order form:      /order_form/
    - Technical:
      - Facts:           docs/overview/tech/facts.md
      - Specs:           docs/overview/tech/specs.md
      - Status:          docs/overview/tech/status.md
      - Glossary:        docs/overview/tech/glossary.md
    - About:             docs/overview/about.md
  - Getting Started:
    - Prerequisites:     docs/getting-started/prerequisites.md
    - Connecting:        docs/getting-started/connecting.md
    - Submitting jobs:   docs/getting-started/submitting.md
  - User guide:
    - Running jobs:      docs/user-guide/running-jobs.md
    - Specialized resources:
#      - Large memory nodes:   docs/user-guide/bigmem.md
      - GPU nodes:       docs/user-guide/gpu.md
    - OnDemand:          docs/user-guide/ondemand.md
    - Troubleshooting:   docs/user-guide/troubleshoot.md
  - Storage:
    - Overview:          docs/storage/overview.md
    - Filesystems:       docs/storage/filesystems.md
    - Data sharing:      docs/storage/data-sharing.md
    - Data protection:   docs/storage/data-protection.md
    - Data transfer:     docs/storage/data-transfer.md
  - Software:
    - Overview:          docs/software/overview.md
    - List:              docs/software/list.md
    - Modules:           docs/software/modules.md
    - Installation:      docs/software/install.md
    - Containers:        docs/software/using/singularity.md
    - Usage:
      - R:               docs/software/using/R.md
      - Julia:           docs/software/using/julia.md
      - Python:          docs/software/using/python.md
      - Perl:            docs/software/using/perl.md
      - Matlab:          docs/software/using/matlab.md
      - Rclone:          docs/software/using/rclone.md
      - Singularity:     docs/software/using/singularity.md
      - Spark:           docs/software/using/spark.md
      - MariaDB:         docs/software/using/mariadb.md
      - PostgreSQL:      docs/software/using/postgresql.md
  - Advanced topics:
    - Connection:        docs/advanced-topics/connection.md
    - Job management:    docs/advanced-topics/job-management.md
#    - Checkpointing:     docs/advanced-topics/checkpoint.md
#    - Scheduler:         docs/advanced-topics/scheduler.md
#    - Owners:            docs/advanced-topics/owners.md
#- News:       https://news.sherlock.stanford.edu
