name: check

# restricting branches prevents jobs from being run twice since
# a push to a pull request triggers two events.
on:
  workflow_dispatch:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main


jobs:

  build:  # --------------------------------------------------------------------
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
          cache: pip
      - name: set Material for MkDocs version
        run: echo "MKM_VER=$(cat .mkdocs-material.version)" >> $GITHUB_ENV
      - name: install Material for MkDocs and dependencies
        run: |
          pip install git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git@${MKM_VER}
          pip install -r requirements.txt
      - name: build site
        run: mkdocs build --strict


  yamllint: # ----------------------------------------------------------------
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: list changed yaml files
        id: changedfiles
        uses: tj-actions/changed-files@v39
        with:
          files: |
            **.yml
            **.yaml
      - name: lint yaml files
        uses: ibiqlik/action-yamllint@v3
        if: steps.changedfiles.outputs.any_changed == 'true'
        with:
          file_or_dir: ${{ steps.changedfiles.outputs.all_changed_files }}
          config_file: .github/workflows/config/yamllint.yml


  mdlint: # ----------------------------------------------------------------
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: list changed markdown files
        id: changedfiles
        uses: tj-actions/changed-files@v39
        with:
          files: '**.md'
      - name: lint markdown files
        uses: nosborn/github-action-markdown-cli@v3.3.0
        if: steps.changedfiles.outputs.any_changed == 'true'
        with:
          files: ${{ steps.changedfiles.outputs.all_changed_files }}
          config_file: .github/workflows/config/markdownlint.yml


  spellcheck: # ----------------------------------------------------------------
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: list changed markdown files
        id: changedfiles
        uses: tj-actions/changed-files@v39
        with:
          files: '**.md'
      - uses: rojopolis/spellcheck-github-actions@0.33.1
        if: steps.changedfiles.outputs.any_changed == 'true'
        with:
          source_files: ${{ steps.changedfiles.outputs.all_changed_files }}
          config_path: .github/workflows/config/spellcheck.yml
          task_name: markdown


#  linkcheck: # -------------------------------------------------------------
#    runs-on: ubuntu-20.04
#    steps:
#      - uses: actions/checkout@v4


