name: deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'mkdocs.yml'
      - 'requirements.txt'
      - 'includes/**'
      - 'overrides/**'
      - 'src/**'


jobs:

  deploy:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    env:
      GOOGLE_ANALYTICS_KEY: ${{ secrets.GOOGLE_ANALYTICS_KEY }}
      MKDOCS_MATERIAL_FORK_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - uses: actions/checkout@v5
      - run: |
          pip install git+https://${MKDOCS_MATERIAL_FORK_TOKEN}@github.com/stanford-rc/mkdocs-material-insiders.git
          pip install -r requirements.txt
          INSIDERS=true mkdocs gh-deploy --force
      - uses: iRoachie/slack-github-actions@v2.3.2
        if: ${{ always() }}
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
